html {
  scroll-behavior: smooth;
}
img{
  width: 300px;
}


.button_style {
  padding: 1em;
  border-radius: 1em;
  border: 1px;
  background-color: rgb(49, 227, 200) !important;
  color: rgb(101, 78, 255);
}