html {
  scroll-behavior: smooth;
}

img{
  width: 200px;
}
#root {
 background-image: url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button_style {
  padding: 1em;
  border-radius: 1em;
  border: 1px;
  background-color: rgb(49, 227, 200) !important;
  color: rgb(101, 78, 255);
}

.button_style:hover {
  color: rgb(49, 227, 200); 
  background-color: rgb(101, 78, 255) !important;
  cursor: pointer;
}

.bi-heart-fill {
  opacity: 1;
  cursor: pointer;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-nav > li.navbar-left {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 90%;
  width: auto;
}

.banner {
  background: rgb(178, 224, 250);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden; /* Ensures the banner expands to contain floated elements */
}

.form-container {
  float: left; /* Float the form to the left */
  padding: 20px;
  border-radius: 50px; /* Match the banner's border-radius */
  box-shadow: inherit; /* Inherit the box-shadow from the banner */
  background: inherit; /* Inherit the background color from the banner */
}




.form-group {
  margin-bottom: 15px; /* Add spacing between form elements */
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
}

.label {
  display: block; /* Ensure labels are displayed on their own line */
}

.form-control {
  width: 100%; /* Make inputs fill their container */
  padding: 8px;
  margin-top: 5px; /* Add spacing between inputs */
}

.button_style {
  background-color: #ffcc00; /* Yellow color for the button */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start; /* Align button to the start of the container */
}


.navbar {
  background: linear-gradient(to right, #66ccff, #ffff99); /* Blue to yellow gradient */
}

#floating-form {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#top-menu {
  margin-bottom: 50px;
}

.bottom_50px {
  margin-bottom: 50px;
}

