html {
  scroll-behavior: smooth;
}
img{
  width: 200px;
}
#root {
 background-image: url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 /* background-repeat: no-repeat; */
}
.button_style {
  padding: 1em;
  border-radius: 1em;
  border: 1px;
  background-color: rgb(49, 227, 200) !important;
  color: rgb(101, 78, 255);
}

.button_style:hover {
  color: rgb(49, 227, 200); 
  background-color: rgb(101, 78, 255) !important;
}

.star-filled {
  color: yellow;
  /* border: 2px black; */
  border-width: 5px;
  display: inline-block;
}
/* .star-filled:before {
  color: yellow;
} */
.star-not-filled {
  color: black;  
  background-color: white;
}
.star-not-filled:hover {
  color: yellow;
}

/* .star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
  color: yellow;
}
.star:before {
 content: "\2605";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2606";
 position: absolute;
 color: black;
} */











